<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642204841752-d6n8vic87a1cjn7umfg3m483sejmjihd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642204841752-d6n8vic87a1cjn7umfg3m483sejmjihd</string>
	<key>API_KEY</key>
	<string>AIzaSyBRANIhw1IMuUKYYfCi6ysLumKblnSyXMU</string>
	<key>GCM_SENDER_ID</key>
	<string>642204841752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockthelp-c1664</string>
	<key>STORAGE_BUCKET</key>
	<string>rockthelp-c1664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642204841752:ios:efdcc5bf0ee1fc99c5d06d</string>
</dict>
</plist>